# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Temporary Files
*.log
*.tmp
.cache/

# VS Code
.vscode/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/